Repository givery-bootcamp/dena-2024-team6, pull requests merged in 2024-05, with the labels that each got.

#1 MySQLのデータをgitignoreに追加
  .gitignore
Labels: good first issue

#8 投稿一覧ページのUI実装
  docker-compose.yml
  frontend/.eslintrc.cjs
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/app/App.tsx
  frontend/src/app/AppRoute.tsx
  frontend/src/features/helloworld/HelloWorld.tsx
  frontend/src/features/helloworld/index.ts
  frontend/src/main.tsx
  frontend/src/pages/posts/PostsRoute.tsx
  frontend/src/shared/hooks/index.ts
  frontend/src/shared/models/Hello.ts
  frontend/src/shared/models/index.ts
  frontend/src/shared/models/post.ts
  frontend/src/shared/services/API.ts
  frontend/src/shared/services/index.ts
  frontend/src/shared/store/HelloSlice.ts
  frontend/src/shared/store/index.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Labels: Frontend

#7 投稿一覧APIの実装
  backend/go.mod
  backend/go.sum
  backend/internal/controllers/controller_helper.go
  backend/internal/controllers/hello_world_controller.go
  backend/internal/controllers/posts_controller.go
  backend/internal/entities/posts.go
  backend/internal/interfaces/posts_repository.go
  backend/internal/middleware/router.go
  backend/internal/repositories/posts_repository.go
  backend/internal/usecases/posts_usercase.go
  backend/main.go
  docker-compose.yml
Labels: backend, step1

#10 投稿詳細APIの実装
  backend/internal/controllers/post_detail_controller.go
  backend/internal/interfaces/posts_repository.go
  backend/internal/middleware/router.go
  backend/internal/repositories/posts_repository.go
  backend/internal/usecases/post_detail_usecase.go
Labels: backend

#9 CI環境のベース作成
  .github/pull_request_template.md
  .github/workflows/backend.yml
  backend/internal/config/config.go
  docker-compose.yml
Labels: good first issue
